/* -------------- font google --------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/* ----------- global ---------------- */

:root{
    --primary-color: #00cec9;
    --bg-color: #dfe6e9;
    --text-color: white;
  }

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #747e74;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #38424d;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #747e74;
    margin: 0;
}


span {
    display: contents;
    color: rgb(36, 128, 36);
}

/* ------------ all button css ---------- */

.main-btn {
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 55px;
    border: 2px solid #0898ef;
    border-radius: 5px;
    background-color: #0898ef;
    color: #fff;
}

.main-btn:hover {
    background-color: rgba(8, 152, 231, .7);
    color: #fff;
    border-color: transparent;
}

/* ------------ all animation ---------- */

@keyframes video {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes bounceTop-1 {

    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }
}

@keyframes animation-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    78.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080);
    }
}

@keyframes spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@keyframes spinner-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}

/* -------------- preloader css ---------- */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 99999;
}

.preloader .loader {
    display: table-cell;
    vertical-align: middle;
}

.preloader .loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.preloader .loader .spinner .spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: spinner-linspin 1568ms linear infinite;
}

.preloader .loader .spinner .spinner-container .spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinner-easespin 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
}

.preloader .loader .spinner-right .spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #eceff8;
    animation: spinner-right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;

}

.preloader .loader .spinner-left .spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #eceff8;
    animation: spinner-left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    border-color: #ec7709 #ec7709 #eceff8;
    border-radius: 50%;
    border-width: 6px;
}


/* ----------- navbar css----------- */

.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
    position: relative;
    padding: 0px 0;
}


.navbar-brand .image {
    max-width: 100px;
    height: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5px 12px;
        background-color: #fff;
        box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
    }
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #38424d;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #ec7709;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: #073b72;
    opacity: 0;
    transition: all .3 ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-nav .nav-item .nav-link::before {
        position: relative;
    }
}

.navbar-nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
}


/* ----------- home css ---------- */

.header-hero {
    position: relative;
    top: 0;
    height: 600px;
    background-position: bottom center;
}

.header-hero .shape {
    position: absolute;
}

.header-hero .shape.shape-1 {
    position: relative;
    width: 75px;
    height: 75px;
    left: 130px;
    top: 20%;
    border-radius: 50%;
    background: #ec7709;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 150px;
    bottom: 40px;
    border-radius: 50%;
    background: #073b72;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-3 {
    width: 19px;
    height: 19px;
    left: 26px;
    bottom: 25%;
    border-radius: 50%;
    background: #ec7709;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-4 {
    width: 39px;
    height: 39px;
    left: 40%;
    top: 175px;
    border-radius: 50%;
    background: #ec7709;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-5 {
    width: 19px;
    height: 19px;
    left: 50%;
    bottom: 20%;
    border-radius: 50%;
    background: #073b72;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-6 {
    width: 14px;
    height: 14px;
    left: 45%;
    bottom: 70%;
    border-radius: 50%;
    background: #4ebaf5;
    animation: animation-1 2s linear infinite;
}

.header-hero-content {
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .header-hero-content {
        margin-top: 20%;
    }
}
@media (max-width:990px) {
    .bubble{
        margin-top: 0px !important;
    }
   

}

.header-hero-content .header-title {
    font-size: 42px;
    color: #073b72;
}

.header-hero-content .text {
    margin-top: 30px;
}

.header-hero-content ul {
    margin-top: 30px;
}

.header-hero-content ul li .header-video {
    margin-left: 50px;
}

.header-hero-content .header-video {
    position: relative;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #0898ef;
    color: #fff;
}

.header-hero-content .header-video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #073b72;
    z-index: -9;
    animation: video 2s linear infinite;
}

.header-image {
    position: relative;
    padding-top: 50px;
    animation: bounceTop-1 3s ease infinite;
    width: 570px;
    right: 170px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .header-image img {
        height: 0;
    }
    
}
@media (max-width:1000px) {
    .header-image{
        width:415px !important;
    }
}
@media (max-width:1100px) {
    .header-image{
        width:460px;
    }
}
@media (max-width:1320px) {
    .header-image{
        width:460px;
    }
    .counter__container{
        width: 45vmin  !important;
        height: 40vmin !important;
    }
}

.header-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-image: url(../img/header/header-shape-1.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.vbox-close {
    color: #fff;
    background: transparent;
    font-size: 40px;
    right: 12%;
}

@media (max-width:415px) {
    .bubble{
        margin-top: -40px !important;
    }
    .header-image{
        width: 0;
    }
}
.bubble{
    margin-top: 100px;
}
/* --------- feature css ---------- */

.feature-section .single-feature {
    padding: 30px;
    text-align: center;
    box-shadow: 0 15px 17px 0 rgb(154 154 154 / 16%);
    border:1px solid #ddd;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .feature-section .single-feature {
        box-shadow: none;
    }
}

.feature-section .single-feature .icon {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    margin: 0 auto 30px;
    background-color: #487cff;
    color: #fff;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature-section .single-feature .icon.color-2 {
    background-color: #ffb260;
}

.feature-section .single-feature .icon.color-3 {
    background-color: #ff92a5;
}

.feature-section .single-feature .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3s ease-out 0s;
}

.feature-section .single-feature:hover .icon::after {
    top: 8px;
    right: 8px;
}

.feature-section .single-feature .content h3 {
    font-weight: 600;
    margin-bottom: 25px;
}


/* ------- about css -------- */

.about-area {
    overflow: hidden;
}

.about-image {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-image .about-shape {
    position: relative;
    width: 394px;
    height: 394px;
    background-color: #0898e7;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .about-image .about-shape {
        width: 265px;
        height: 280px;
    }
    .download-area .download-image .download-shape-1{
        left:42px
    }
}

.about-image .about-shape::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #0898e7;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: scale(1.1) rotate(25deg);
}

.about-image .app {
        max-width: 357px;
        position: absolute;
        top: 120px;
        left: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .about-image .app {
        max-width: 250px;
    }
}

.title {
    font-size: 35px;
    font-weight: 600;
}

.text {
    margin-top: 20px;
}

.about-content .main-btn {
    margin-top: 40px;
}

/* --------- Testimonial css ---------- */

.testimonial-section {
    padding: 100px 0;
    background-color: #a3bdff;
}

.testimonial-section .tns-controls {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}

.testimonial-section .tns-controls button {
    border: none;
    background: 0 0;
}

.testimonial-section .tns-controls button svg {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 8%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .13);
    color: #fff;
    z-index: 22;
}

.testimonial-section .tns-controls button svg:hover {
    background-color: #fff;
    color: #487cff;
}

.testimonial-section .tns-controls button .fa-angle-left {
    left: 10%;
}

.testimonial-section .tns-controls button .fa-angle-right {
    right: 10%;
}

.testimonial-section .testimonial-active-wrapper {
    position: relative;
}

.testimonial-section .testimonial-wrapper {
    padding: 40px;
}

.testimonial-section .single-testimonial {
    position: relative;
    padding: 45px 50px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 9;
}

.testimonial-section .single-testimonial::before {
    top: -20px;
    right: -20px;
    opacity: .26;
    z-index: -1;
}

.testimonial-section .single-testimonial::after {
    top: -40px;
    right: -40px;
    opacity: .13;
    z-index: -2;
}

.testimonial-section .single-testimonial::before,
.testimonial-section .single-testimonial::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: inherit;
}

.testimonial-section .single-testimonial .info .image-2 {
    width: 100%;
    max-width: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-section .single-testimonial .info h4 {
    margin-bottom: 8px;
}

.testimonial-section .single-testimonial .info p {
    margin-bottom: 15px;
    font-size: 16px;
}

.testimonial-section .single-testimonial .quote {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 80px;
    line-height: 1;
    color: rgba(72, 124, 255, .5);
}

/* --------- team css ---------- */

.faq-section{
    background-color: #21242b;
}

/* --------- download css ---------- */

.download-area {
    overflow: hidden;
    height: 1010px;
}

.download-area .download-image .download-shape-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #4a6d95;
    border-radius: 50%;
    z-index: -1;
    animation: animation-1 2s linear infinite;
}

.download-area .download-image .image-3 {
    position: relative;
    max-width: 350px;
    padding-top: 65px;
    padding-left: 60px;
    padding-bottom: 60px;
}

.download-shape-1{
    display: flex;
    justify-content: center;
}
.rise{
    margin-top: 40px;
    font-size: 20px;
}
.download-shape-30{
    width: 20px;
    height: 20px;
    background-color: #ec9f9c;
    border-radius: 50%;
    z-index: -1;
    position: relative;
    top: 34px;
    left: 9px;
}
.download-content{
    height: 28vh;
}

/* ----------- footer css --------- */

.footer-area {
    position: relative;
    overflow: hidden;
    border-top:1px solid grey;
}

.footer-area .footer-shape {
    position: absolute;
}

.footer-area .footer-shape.shape-1 {
    width: 75px;
    height: 75px;
    left: 70px;
    background-color: #fe5f59;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 15%;
    bottom: 40px;
    background-color: #33c8c1;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-3 {
    width: 20px;
    height: 20px;
    left: 35%;
    top: 40px;
    background-color: #361cc1;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-4 {
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 5px;
    background-color: #eba31a;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-5 {
    width: 39px;
    height: 39px;
    right: 37%;
    top: 0px;
    background-color: #e29e19;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-6 {
    width: 15px;
    height: 15px;
    right: 15%;
    top: 125px;
    background-color: #b60d81;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .logo {
    max-width: 120px;
}

.footer-about {
    max-width: 320px;
}

.footer-about .text {
    margin-top: 30px;
}

.footer-about .social {
    margin-top: 30px;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 25px;
}

.footer-about .social li a {
    font-size: 20px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #0898e7;
}

.footer-link-wrapper {
    width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .footer-link {
        padding-top: 30px;
    }
}

.footer-link .link {
    padding-top: 10px;
}

.footer-link .link li {
    margin-top: 10px;
}

.footer-link .link li a {
    text-decoration: none;
    font-size: 18px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-link .link li a:hover {
    color: #0898e7;
}

.footer-title .title {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .footer-contact {
        padding-top: 30px;
    }
}

.footer-contact .contact-list li .contact-info .info-content .text a {
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-contact .contact-list li .contact-info .info-content .text a:hover {
    color: #0898ef;
}

.footer-copyright .copyright {
    border-top: 2px solid #747e88;
    padding-top: 10px;
    padding-bottom: 25px;
}

.footer-copyright .copyright .copyright-text .text a {
    color: #747e88;
}


/* counter css start */

.wrapper {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 30px;
  }
  .counter__container {
    width: 35vmin;
    height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #18f98f;
  }
  i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
  }
  .num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  .text_counter {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
      margin-left: 1px;
    }
    .counter__container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
    .download-area {
        height: 1450px;
        margin-left: 20px;
    }

  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 80vw;
      flex-wrap: wrap;
      gap: 30px;
      margin: 0;
    }
    .counter__container {
      width: calc(50% - 40px);
      height: 45vmin;
      font-size: 14px;
    }
    .download-area {
        height: 1450px;
        margin-left: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
        gap: 15px;
        width: 50vw;
        margin-left: 74px;
    }
    .counter__container {
      width: 100%;
      height: 30vmin;
      font-size: 8px;
    }
  }
/* counter css end */


/* contact us css start */
#title-Tag-Line {
    font-size: 20px;
  }
  
  
  /* form animation starts */
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid #0e3721;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: white;
  }
  .name:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .email {
    background-color: #ebebeb;
    height: 2em;
  }
  
  .email:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #0e3721;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 
    
/* contact us css end */


/* about us page css */
.breadcrapms_ig{
    width: 100%;
    height: 250px;
    
}
.breadcrapms_ig_gallery{
    width: 1500px;
    height: 300px;
}
.header-hero_about {
    background-position: bottom center;
}

.header-hero_about .shape {
    position: absolute;
}

.header-hero_about .shape.shape-1 {
    position: relative;
    width: 75px;
    height: 75px;
    left: 130px;
    top: 20%;
    border-radius: 50%;
    background: #ec7709;
    animation: animation-1 2s linear infinite;
}

.header-hero_about .shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 150px;
    bottom: 40px;
    border-radius: 50%;
    background: #073b72;
    animation: animation-1 2s linear infinite;
}

.header-hero_about .shape.shape-3 {
    width: 19px;
    height: 19px;
    left: 26px;
    bottom: 25%;
    border-radius: 50%;
    background: #ec7709;
    animation: animation-1 2s linear infinite;
}

.header-hero_about .shape.shape-4 {
    width: 39px;
    height: 39px;
    left: 40%;
    top: 175px;
    border-radius: 50%;
    background: #ec7709;
    animation: animation-1 2s linear infinite;
}

.header-hero_about .shape.shape-5 {
    width: 19px;
    height: 19px;
    left: 50%;
    bottom: 20%;
    border-radius: 50%;
    background: #073b72;
    animation: animation-1 2s linear infinite;
}

.header-hero_about .shape.shape-6 {
    width: 14px;
    height: 14px;
    left: 45%;
    bottom: 70%;
    border-radius: 50%;
    background: #4ebaf5;
    animation: animation-1 2s linear infinite;
}


/* team css */
.team_cards{
    display: flex;
    gap: 25px;
}
.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #ffb260;
  border-radius: 20px;
  overflow: hidden;
  
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6ca6ee;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Team';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 9em;
  font-weight: 700;
  font-style: italic;
  color: rgba(20, 20, 2, 0.05);
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
     position: absolute;
    left: 11%;
    width: 248px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  /* z-index: 10; */
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx  span{
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  margin: 0 5px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

/*gallery css*/
.container__gallery {
    display: flex;
    justify-content: center;
    
  }
  div.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius:10px;
  }
  div.item * {
    box-sizing: border-box;
  }
  div.item img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
  }
  div.item i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffc125;
  }
  div.item a {
    left: 0;
    right:0;
    top:0;
    position:absolute;
  }
  
  div.item.red {
    background-color: #e74c3c;
  }
  div.item.red i {
    color: #e74c3c;
  }
  
  div.item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
  }
  div.item * {
    transition: all 0.5s ease-in-out;
  }
  
  div.item i {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  div.item:hover i {
  transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  /* services css */
  .services_main_container{
    margin-top: 100px;
    gap:20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .services__heading{
    font-size: 20px;
  }
  .container_services{
    height: 450px;
    width: 350px;
    overflow: hidden;
    background: white;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 25px 30px;
    color: var(--primary-color);
  }
  
  .container_services::after{
    content: '';
    background: var(--primary-color);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    clip-path: circle(10% at 0% 0%);           
    transition: all .3s ease-in;
  }
  
  .content{
    position: relative;
    z-index: 1;
    transition: all .3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container_services:hover::after{
    clip-path: circle(100%);
  }
  
  .container_services:hover .content{
    color: var(--text-color);
  }
  .services__img{
    width:150px;
    height:200px
  }


  /* blogs css */

  .blog_main_cont{
    display: flex;
    margin-top: 100px;
  }

  .post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px; 
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear 0s;
  }
  .post-module:hover,
  .hover {  
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  }
  .post-module:hover .thumbnail img,
  .hover .thumbnail img {
    transform: scale(1.1);
    opacity: .6;
  }
  .post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
  }
  .post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .post-module .thumbnail .date .day {
    font-size: 18px;
  }
  .post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
  }
  .post-module .thumbnail img {
    display: block;
    width: 120%; 
    transition: all 0.3s linear 0s;
  }
  .post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  }
  .post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
  }
  .post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
  }
  .post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
  }
  .post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
  }
  .post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
  }
  .post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
  }
  .hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
  }
  .container__blogs {
    margin: 0 auto;
  }
  .container__blogs:before,
  .container__blogs:after {
    content: '';
    display: block;
    clear: both;
  }
  .container__blogs .column {
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }
  .container__blogs .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container__blogs .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  .container__blogs .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }
  .container__blogs .info span {
    color: #666666;
    font-size: 12px;
  }
  .container__blogs .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container__blogs .info span .fa {
    color: #e74c3c;
  }













  .single_service{
    
  }

  .service_single_head{
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .service_single_spn{
    color: #000;
    font-size: 25px;
    font-weight: medium;
  }